name: Build and archive museum server

on:
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: alpine:latest
    steps:
      - uses: actions/checkout@v5
        with:
          repository: 'ente-io/ente'
          
      - uses: actions/setup-go@v6
        with:
          go-version-file: './server/go.mod'
          
      - name: install dependencies
        run: apk update && apk add build-base libsodium libsodium-dev pkgconfig
        
      - name: install go dependencies
        run: go mod tidy
        working-directory: ./server
        
      - name: build museum
        run: go build -o museum cmd/museum/main.go
        working-directory: ./server
        env:
          CGO_ENABLED: 1

      - name: tar server folder
        run: tar -czf museum.tar.gz ./server

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          files: museum.tar.gz
          tag_name: 1.0.0
